/* -------------------------------------
    Hedges Direct Specific Styles
------------------------------------- */

table.soil {
  padding: 0px;
}

table.soil tr {
  padding: 0px;
}

.soil-upper {

    background-color: #684432;
    color: #FFFFFF;
    /*background-image: url(../img/soil-lightbrown.png);*/
    background-image: url(https://system.eu1.netsuite.com/core/media/media.nl?id=3945&c=4635725_SB1&h=709ff16a16a740df5203);
    background-position: top 0px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 30px;
    height: 30px;
  }
  .soil-lower {
     background-color: #7a5542;
    color:#FFFFFF;
    /*background-image: url(../img/soil-brown.png);*/
    background-image: url(https://system.eu1.netsuite.com/core/media/media.nl?id=3946&c=4635725_SB1&h=f6f54f312e002007aeb4);
    background-position: top 0px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    min-height: 60px;
    height: 60px;
  }
