<tr>
	<td class="planting-help">
		<p><strong>Need Help Planting?</strong><p>
		<p>Visit our {{> link_youtube_hd }} for helpful videos on what you'll need and how to plant, including preparing the ground and using rootgrow. Or, for a written explanation, visit our blog and advice section.</p>
		{{> button type='hedges' url='hd.blog_url' title='Hedges Blog' }}
	</td>
</tr>
