---
layout: default.hbs
subject: We are processing your Best4Hedging order | Reference number ${transaction.createdfrom.tranid}
---
<span class="preheader">You can see the details of your order below.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
      {{> logo_b4h height='80' }}
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear ${entity.firstname} ${entity.lastname},</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>We're happy to inform you your order is being processed and is ready for our picking and packing team!</p>
            <p>We will let you know when it's on it's way to you.</p>
            <table>
            <#list transaction.item as item>
              <#if item_index==0>
              <thead>
                <tr><th>{item.quantity@label}</th><th>{item.itemname@label}</th></tr>
              </thead>
              <tbody>
              </#if>
                <tr><td>${item.quantity}</td><td>${item.description}</td></tr>
                </#list>
              </tbody>
            </table>
            <br />
            <p>Thank you,<br/>
            Best4Hedging</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td>{{> bodybase_b4h }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_b4h }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> visit_b4h }}</p>
      </td>
    </tr>
  </table>
</div>
