---
layout: default.hbs
subject: Your Best4Hedging order has been updated
---
<span class="preheader">See the updated details below</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.best4hedging.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=4823&c=4635725_SB1&h=cd66d4c5a26769fcfbb8&whence=" height="80" alt="Best4hedging Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>This email is to confirm that your order <NLORDERCONFIRMATIONNUMBER> has been successfully updated. 
            Please see below for the updated details.</p><br/>
            <p>Thank you,<br/>Best4Hedging</p><br/><br/>
            <p>Your order details are</p> 
            <NLCURRENTDATE>
            <NLITEMLIST>
            <NLSHIPADDRESS>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_b4h }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_b4h }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>