---
layout: default.hbs
subject: Thank you for creating an account with Best4Hedging
---
<span class="preheader">Need help buying? Contact our sales team on 01257 261243.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.best4hedging.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=4823&c=4635725_SB1&h=cd66d4c5a26769fcfbb8&whence=" height="80" alt="Best4hedging Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>Thank you for registering with Best4Hedging.co.uk</p><br/>
            
            {{> button type='b4h' url='http://www.Best4Hedging.co.uk' title='Visit Website' }}
            <p/><b/>Looking for help or advice?</b><br/>
            We have a large amount of helpful articles in our blog and advice section and a series of useful videos on our Youtube channel.
            Or call our sales and service team on 01257 261243 or contact us at enquiries@best4hedhging.co.uk</p>
            <p>Thank you,<br/>Best4Hedging</p><br/><br/>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_b4h }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_b4h }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>