---
layout: default.hbs
subject: We are processing your Hedges Direct pre-order | Full information inside
---
<span class="preheader">You can see your order deatils below.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.best4hedging.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=4823&c=4635725_SB1&h=cd66d4c5a26769fcfbb8&whence=" height="80" alt="Best4hedging Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
          <p>Thank you for your order <NLORDERCONFIRMATIONNUMBER></p>
            <p>Your order contains plants which are on pre-order. As soon as your plants are ready, we will despatch your whole order to you.</p>
            <p>All the information regarding different root types and their availability is available on our website. </p><br/><br/>
            <p/><b/>Ordered Turf or Trees?</b><br/> 
            If your order contains turf or trees as well as other pre-ordered plants, the turf or trees <b/>will</b> be delivered separately and you will be contacted to arrange a suitable date for delivery. </p><br/><br/>
            <p> <b/> Need Help Planting? </b><br/>Why not bookmark our Youtube channel for helpful videos on what you'll need and how to plant when your plants do arrive, including preparing the ground and using rootgrow. Or, for a written explanation, visit our blog and advice section.</p>             
            {{> button type='b4h' url='http://www.best4hedging.co.uk' title='Go To Website' }}
            <p>Thank you,<br/>Best4Hedging</p><br/><br/>
            <p>Your order details are</p> 
            <NLCURRENTDATE>
            <NLITEMLIST>
            <NLSHIPADDRESS>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_b4h }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_b4h }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>