---
layout: default.hbs
subject: Payment issue with your Hedges Direct order
---
<span class="preheader">Need help? Contact our sales and service team on 01257 263873.</span>
<div class="header">
  <table>
        {{> logo_hd }}
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      {{> salutation_hd }}
        <tr>
          <td>
           <p>Unfortunately there has been an issue taking payment on your order.<br/>
            Please contact our sales team on <strong>{{hd.sales_phone}}</strong>.</p>
          </td>
        </tr>
        {{> signoff}}
      </table>
    </td>
  </tr>
{{> bodybase_hd }}
</table>
<div class="footer">
{{> socialbar_hd }}
</div>
