---
layout: default.hbs
subject: Thankyou for your order ${transaction.tranid} with Hedges Direct.
---
<span class="preheader">Your ordernumber: ${transaction.tranid} with Hedges Direct</span>
<div class="header">
  <table>
        {{> logo_hd }}
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      {{> salutation_hd }}
      <tr>
        <td>
          <p>Thank you for your order placed on ${transaction.trandate}. Your order number is {transaction.tranid} and you will find the details of your order below.</p>
          <p>You will be kept up to date about the delivery status of your order, including a notification when it is dispatched.
          Orders that do not contain plants on pre-order are typically received in 3-5 working days.</p>
          <p><b> Need Help Planting? </b><br/>
          Why not visit our {{> link_youtube_hd }} for helpful videos on what you'll need and how to plant when your plants do arrive, including preparing the ground and using rootgrow. Or, for a written explanation, visit our blog and advice section.</p>
        </td>
      </tr>
      {{> signoff}}
      {{> orderdetails_hd}}
      </table>
    </td>
  </tr>

    {{> bodybase_hd}}
</table>
<div class="footer">
      {{> socialbar_hd }}
</div>
