---
layout: default.hbs
subject: Your Hedges Direct order has been updated
---
<span class="preheader">See your updated order details below.</span>
<div class="header">
  <table>
    <tr>
     <td class="align-center">
        {{> logo_hd }}
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear ${entity.firstname} ${entity.lastname},</p>
        </td>
      </tr>
        <tr>
          <td>
             <p>This email is to confirm that your order ${transaction.tranid} has been successfully updated.
            Please see below for the updated details.</p><br/>
            <p>Thank you,<br/><b>Hedges Direct</b><br/><br/></p>
          </td>
        </tr>
        <tr>
      <td class="padder-wrapper">
        <p>Your updated order details are:</p>
          {{> order_details type='hedges'}}
      </td>
    </tr>
    </table>
    </td>
  </tr>
<tr>
  <td>{{> bodybase_hd }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_hd }}</p>
      </td>
    </tr>
  </table>
</div>
