---
layout: default.hbs
subject: We have received your return to Hedges Direct
---
<span class="preheader">You can see details of your return below</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.hedgesdirect.co.uk"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3942&c=4635725_SB1&h=f414b4be4f035671560e" height="80" alt="Hedges Direct Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear ${entity.firstname} ${entity.lastname},</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>This email is to let you know that we have successfully received your return for order ${transaction.createdfrom.tranid} and will process your refund.</p>
            <p>If you need any help with this order you can call our customer service team on 01257 447 522,<br/>
            or if you would like help placing a new order you can reach our sales team on 01257 263 873.</p>
            <p/>Thank you,<br/><br/>
            Hedges Direct</p>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_hd }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_hd }}</p>
      </td>
    </tr>
  </table>
</div>
