---
layout: default.hbs
subject: Thank you for registering your account with Hedges Direct
---
<span class="preheader"></span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.hedgesdirect.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3942&c=4635725_SB1&h=f414b4be4f035671560e" height="80" alt="Hedges Direct Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>Thank you for registering with HedgesDirect.co.uk</p>
            <p>Your account details can be seen below:</p>
            (account details)
            {{> button type='hedges' url='http://www.hedgesdirect.co.uk' title='Visit Website' }}
            <p/><b/>Looking for help or advice?</b><br/>
            We have a large amount of helpful articles in our blog and advice section and a series of useful videos on our Youtube channel.
            Or call our sales and service team on 01257 263873 or contact us at helpdesk@hedgesdirect.co.uk</p>
            <p>Thank you,<br/>Hedges Direct</p><br/><br/>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_hd }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_hd }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>
