---
layout: default.hbs
subject: Thank you for creating an account with Hedges Direct
---
<span class="preheader">Need help buying? Please contact our sales team on {{hd.sales_phone}}.</span>
<div class="header">
  <table>
    {{> logo_hd }}
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        {{> salutation_hd }}
        <tr>
          <td>
            <p>Thank you for registering with {{> visit_hd }}</p>
            <p>Please use the button below to head back to the website!<br />
              {{> button type='hedges' url='http://www.hedgesdirect.co.uk' title='Visit Hedges Direct' }}
            </p>
          </td>
        </tr>
        {{> help_hd }}
        {{> signoff }}
      </table>
    </td>
  </tr>
  {{> bodybase_hd }}
</table>
<div class="footer">
  {{> socialbar_hd }}
</div>
