---
layout: default.hbs
subject: Your Cancelled Order with Hedges Direct
---
<span class="preheader">Your order has been successfully cancelled.</span>
<div class="header">
  <table>
        {{> logo_hd }}
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      {{> salutation_hd }}
        <tr>
          <td>
            <p>This is a confirmation that your order ${transaction.tranid} has been cancelled.</p>
            <p>If you need any further help or advice please contact our sales and service team.<br/><br/>
            <b/>Need something different or further advice?</b><br/>
            If you have cancelled your order but still require hedging, please contact our sales and service team who can answer any questions or queries and help you get the right hedging in the right quantities.</p>
             Or why not visit our {{> link_youtube_hd }} for helpful videos on choosing the right species and planting advice, including preparing the ground and using rootgrow. For a written explanation, visit our blog and advice section.</p>
          </td>
        </tr>
        {{> signoff}}
      </table>
    </td>
  </tr>
  {{> bodybase_hd }}
</table>
<div class="footer">
  {{> socialbar_hd }}
</div>
