---
layout: default.hbs
subject: We are processing your Hedges Direct order Reference number ${transaction.tranid}
---
<span class="preheader">Your order details with Hedges Direct are confirmed.</span>
<div class="header">
  <table>
        {{> logo_hd }}
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      {{> salutation_hd }}
      <tr>
        <td>
          <p>Your order, ref: ${transaction.tranid} is now being processed, please see the details below.</p>
          <p>Deliveries are normally made within 3 to 5 working days by courier (unless we have agreed otherwise). If your order requires a pallet for delivery we may contact you if needed.</p>
            <p>You will receive confirmation of the dispatch of your order but should you have any queries in the meantime please contact our service team on <strong>{{hd.service_phone}}</strong></p>
          </td>
        </tr>
        {{> planting_hd }}
        {{> signoff}}
        {{> orderdetails_hd}}
      </table>
    </td>
  </tr>
{{> bodybase_hd }}
</table>
<div class="footer">
      {{> socialbar_hd }}
</div>
