---
layout: default.hbs
subject: Fehlgeschlagener Zahlungsversuch
---
<span class="preheader">Bzgl. Ihrer Bestellung bei Hecken Direkt</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        {{> logo_hdde }}
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
<p>Sehr geehrte/r Frau/Herr <NLFIRSTNAME> <NLLASTNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>leider ist der Zahlungsversuch zu Ihrer Bestellung fehlgeschlagen.<br/>
            Bitte kontaktieren Sie uns unter der folgenden Rufnummer: 03022 957715.</p>
            <p>Vielen Dank,<br/><b>Hecken Direkt</b><br/><br/></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td>{{> bodybase_hdde }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
      </td>
    </tr>
  </table>
</div>
