---
layout: default.hbs
subject: Ihre Bestellung bei Hecken Direkt wurde aktualisiert
---
<span class="preheader">Sie können die Änderung nachfolgend ersehen.</span>
<div class="header">
  <table>
    <tr>
     <td class="align-center">
        {{> logo_hdde }}
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
<p>Sehr geehrte/r Frau/Herr ${entity.firstname} ${entity.lastname},</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>Diese E-Mail informiert Sie über eine Aktualisierung Ihrer Bestellung ${transaction.tranid}.
            die Aktualisierung zu Ihrer Bestellnummer finden Sie unten angeführt.</p>
            <p>Vielen Dank,<br/><b>Hecken Direkt</b><br/><br/></p>
          </td>
        </tr>
        <tr>
      <td class="padder-wrapper">
        <p>Die Angaben Ihrer Bestellung finden Sie hier:</p>
          {{> order_details type='hecken'}}
      </td>
    </tr>
    </table>
    </td>
  </tr>

<tr>
  <td>{{> bodybase_hdde }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
      </td>
    </tr>
    <tr>
    </tr>
  </table>
</div>
