---
layout: default.hbs
subject: Passwortänderungsanfrage für Ihr HeckenDirekt Konto
---
<span class="preheader">Sollten Sie weiterhin Probleme mit dem Passwort haben, kontaktieren Sie uns bitte unter: 03022 957715</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        {{> logo_hdde }}
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
<p>Sehr geehrte/r Frau/Herr ${entity.firstname} ${entity.lastname},</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>vielen Dank für Ihren Besuch bei HeckenDirekt. Um Ihr Passwort zu ändern, klicken Sie bitte auf den unten angezeigten Link oder korpieren Sie ihn vollständig in Ihr Browserfenster.
             Achten Sie bitte darauf, die URL vollständig zu kopieren:  <NLRECOVERYPASSWORDURL><p>
            <p>Vielen Dank,<br/><b>Hecken Direkt</b><br/><br/></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td>{{> bodybase_hdde }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
      </td>
    </tr>
  </table>
</div>
