---
layout: default.hbs
subject: Your friend (Friend name) has referred you to Best4Hedging
---
<span class="preheader">See what we have to offer.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.best4hedging.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=4823&c=4635725_SB1&h=cd66d4c5a26769fcfbb8&whence=" height="80" alt="Best4hedging Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>You have been reffered by a friend to Best4Hedging.co.uk.<br/>
            (sendee name) has suggested you could be interested in Best4Hedging.co.uk.</p><br/><br/>
            <p/><b/>Need Help Planting?</b></p><br/> 
            <p/>Why not bookmark our Youtube channel for helpful videos on what you'll need and how to plant when your plants do arrive, including preparing the ground and using rootgrow. Or, for a written explanation, visit our blog and advice section.</p>             
            {{> button type='B4H' url='https://www.best4hedging.co.uk/blog/' title='Go To Website' }}<br/><br/>
            <p/>Alternatively you can call our expert sales team on 01257 261243 and get all the advice you need.</p>
            <p/>Thank you,<br/>
            Best4Hedging</p>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_b4h }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_b4h }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>