---
layout: default.hbs
subject: We are processing your root ball pre-order | Full information inside
---
<span class="preheader">You can see your order deatils below</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.hedgesdirect.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3942&c=4635725_SB1&h=f414b4be4f035671560e" height="80" alt="Hedges Direct Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
            <p>Thank you for your order <NLORDERCONFIRMATIONNUMBER></p>
            <p>Your order contains root ball plants which have been reserved. As soon as your plants are ready to be lifted, usually in October, we will despatch your whole order to you.</p>
            <p>Root ball plants are typically available from October to April though our cold storage facility can extend this window a little later without having any negative effect on the quality of the plants. All the information regarding different root types and their availability is available on our website. </p><br/><br/>
            <p/><b/>Ordered Turf or Trees?</b><br/> 
            If your order contains turf or trees as well as your root ball plants, the turf or trees <b/>will</b> be delivered separately and you will be contacted to arrange a suitable date for delivery. </p><br/><br/>
            <p> <b/> Need Help Planting? </b><br/>Why not bookmark our Youtube channel for helpful videos on what you'll need and how to plant when your plants do arrive, including preparing the ground and using rootgrow. Or, for a written explanation, visit our blog and advice section.</p>             
            {{> button type='hedges' url='http://www.hedgesdirect.co.uk' title='Hedges Blog' }}
            <p>Thank you,<br/>Hedges Direct</p><br/><br/>
            <p>Your order details are</p> 
             <NLCURRENTDATE>
            <NLITEMLIST>
            <NLSHIPADDRESS>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_hd }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_hd }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>
