---
layout: default.hbs
subject: Last chance to complete your order at Hedges Direct
---
<span class="preheader">Need help? Contact our sales and service team on 01257 263873.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.hedgesdirect.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3942&c=4635725_SB1&h=f414b4be4f035671560e" height="80" alt="Hedges Direct Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
           <p>Last chance to checkout as your basket will be expiring shortly. If you need any help or assistance please contact our sales and service team on 01257 263873</p>
            <p>The team are here to help you 7 days a week with advice on hedging species, planting requirements or anything else you may need to know.
            Call 01257 263973 or email helpdesk@hedgesdirect.co.uk.</p>
            <p/>Your basket has been saved and you can return to it by clicking here ...</p>
            {{> button type='hedges' url='http://www.hedgesdirect.co.uk' title='View basket!' }} <br/>
            <p/><b/>Why Shop With Hedges Direct?</b> 
            <li>We have a 95% customer satisfaction rating on independent review site Feefo. Based on over 8000 reviews to our product and service.
            <li>We have over 11 year's experience trading online
            <li>95% of deliveries are received within 3-5 working days and orders over £50 receive free delivery*
            <li> If you have found a cheaper price we will match it. Call 01257 263873 to get a quote.</br></p>
            <p/> View your basket now by clicking here >View Basket< (link)
            <p>Thank you,<br/>Hedges Direct</p><br/><br/>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_hd }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_hd }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>
