---
layout: default.hbs
subject: Please confirm your registration
---
<span class="preheader">Thankyou for registering with Hedges Direct. Please click the button below to confirm your details .</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.hedgesdirect.com"><img src="../src/img/Hedges-Logo.png" height="127" alt="Hedges Direct Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>Example Text Line One.</p>
            <p>Example Text Line Two.</p>
            <p>This should come in handy for branded transactional emails templates.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>{{> follow_hd }}</p>
      </td>
    </tr>
  </table>
</div>
