---
layout: default.hbs
subject: We are processing your Hedges Direct pre-order | Full information inside
---
<span class="preheader">Please find your order details below.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <a href="http://www.hedgesdirect.com"><img src="https://system.eu1.netsuite.com/core/media/media.nl?id=3942&c=4635725_SB1&h=f414b4be4f035671560e" height="80" alt="Hedges Direct Logo"></a>
      </td>
    </tr>
  </table>
</div>
<table class="main">
  <tr>
    <td class="wrapper">
      <table>
      <tr>
        <td>
        <p>Dear <NLCUSTOMERNAME>,</p>
        </td>
      </tr>
        <tr>
          <td>
           <p/>Thank you for your order <NLORDERCONFIRMATIONNUMBER></p>
           <p/>Your order contains plants which are on pre-order. As soon as your plants are ready, we will despatch your whole order to you.<br/>
           <p/>All the information regarding different root types and their availability is available on our website. </p><br/><br/>
           <p/><b/>Ordered Turf or Trees?</b><br>
           If your order contains turf or trees as well as other pre-ordered plants, the turf or trees <b/>will</b> be delivered separately and you will be contacted to arrange a suitable date for delivery. <br/>
           <p/><b/>Need Help Planting?</b></p>
           <p/>Thank you,<br/>
           Hedges Direct</p>
           <p/>Your order details: </p>
            <NLCURRENTDATE>
            <NLITEMLIST>
            <NLSHIPADDRESS>
          </td>
        </tr>

      </table>
    </td>

  </tr>
<tr>
  <td>{{> bodybase_hd }}</td>
</tr>
</table>
<div class="footer">
  <table>
  <tr>
      <td class="align-center">
        <p>{{> socialbar_hd }}</p>
      </td>
    </tr>
    <tr>
      <td class="align-center">
        <p>{{> unsubscribe_hd }}</p>
      </td>
    </tr>
  </table>
</div>
